# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Editor directories
.vscode/
.idea/
*.swp